.user-list-container {
      padding: 30px 0px;
      gap: 30px;
  }
  

  .user-profile-link {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    width : 200px;
    height: 200px;
    padding: 0px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 10px;
    margin: 20px;
  }
  
  .users-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     height: 100%;
      width : 100%;
     border-radius: 10px;
    
  }

  .user-profile-link h3 {
     color: white;
    display:grid;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.775);
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  .user-profile-link h5 {
    margin: 0px 7px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
  }
  